<!-- <nav class="bg-indigo-500 shadow text-gray-50" role="navigation">
  <div
    class="container flex items-center justify-between p-3 mx-auto"
    style="max-width: 720px;"
  >
    <span>
      <img src="assets/logo.png" alt="ngx-fit-text" />
    </span>
    <a
      href="https://github.com/pikselinweb/ngx-fittext"
      target="_blank"
      rel="noopener noreferrer"
      class="px-4 py-2 mb-1 mr-1 text-xs font-bold uppercase transition-all duration-150 ease-linear bg-indigo-600 rounded-full shadow outline-none hover:text-white hover:bg-indigo-700 hover:shadow-md focus:outline-none"
      type="button"
      style="color:rgb(229, 231, 235);text-decoration: none;"
    >
      github
    </a>
  </div>
</nav> -->
<mat-toolbar color="primary">
  <mat-toolbar-row class="container justify-content-between">
    <span> <img src="assets/logo.png" alt="ngx-fit-text" /></span>
    <a
      role="button"
      style="color:#fff;text-decoration: none;"
      href="https://github.com/pikselinweb/ngx-fittext"
      rel="noopener noreferrer"
      target="_blank"
      mat-button
      >Github</a
    >
  </mat-toolbar-row>
</mat-toolbar>
