<section class="py-3">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">Option</th>
        <th scope="col">Type</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">[stepSize]</th>
        <td>number</td>
        <td>
          When increasing or decreasing font uses stepSize. Default value is 2.
          Unit is getting from getComputedStyle component.
        </td>
      </tr>
      <tr>
        <th scope="row">[calcOnResize]</th>
        <td>boolean</td>
        <td>When true component will listen window resize event and it will calculate again on resized.</td>
      </tr>
      <tr>
        <th scope="row">[minFontSize]</th>
        <td>number</td>
        <td>Set minimum font size of component. If it overflow element may be multiline.</td>
      </tr>
      <tr>
        <th scope="row">[maxFontSize]</th>
        <td>number</td>
        <td>Set maximum font size of component. Default value is 500.</td>
      </tr>
      <tr>
        <th scope="row">(showInfo)</th>
        <td>output</td>
        <td>When font resize return font size and resized element.</td>
      </tr>
    </tbody>
  </table>
</section>
