<mat-toolbar color="primary">
  <span>
    <img src="assets/logo.png" alt="ngx-fittext" />
  </span>
  <span class="spacer"></span>
  <span>
    <a class="nav-link" mat-button href="https://github.com/pikselinweb/ngx-fittext" target="_blank"
      rel="noopener noreferrer">
      Github Repo
    </a>
  </span>
</mat-toolbar>
<div class="container py-4">
  <div>
    <pre>
      <code [highlight]="code.install | codeFromUrl | async"></code>
    </pre>
  </div>
  <div>
    <pre>
      <code [highlight]="code.module | codeFromUrl | async"></code>
    </pre>
  </div>
  <div class="row">
    <div class="col-md-6 py-3">
      <mat-tab-group>
        <mat-tab label="Preview">
          <div class="py-3">
            <button mat-raised-button color="primary" (click)="basicRandom()">
              Random Text
            </button>
            <div class="d-inline px-3">
              <strong class="text-info">Font Size:</strong>&nbsp;
              <span>{{ fontSize }} px</span>
            </div>
          </div>
          <mat-card style="overflow: hidden;">
            <div mat-card-image>
              <div class="py-3" style="background-color: #f1f1f1; text-align: center;">
                <h2 class="m-0" style="font-weight: 500;">
                  Fit Text Example
                </h2>
              </div>
            </div>
            <fit-text [text]="basic" (resized)="newFontSize($event)" width="100%" height="450px" maxFontSize="140px"
              minFontSize="6px" delay="120" [middle]="true" [showLogs]="true"></fit-text>
          </mat-card>
        </mat-tab>
        <mat-tab label="Code">
          <div>
            <div>
              <pre>
                <code [highlight]="code.basic | codeFromUrl | async"></code>
              </pre>
            </div>
            <div>
              <pre>
                <code [highlight]="code.full | codeFromUrl | async"></code>
              </pre>
            </div>
            <div>
              <pre>
                <code [highlight]="code.fullts | codeFromUrl | async"></code>
              </pre>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="col-md-6 py-3">
      <mat-tab-group>
        <mat-tab label="Preview">
          <div>
            <div class="py-3">
              <button mat-raised-button color="primary" (click)="resizeRandom()">
                Random Text
              </button>
              <div class="d-inline px-3">
                <strong class="text-info">Font Size:</strong>&nbsp;
                <span>{{ wfontSize }} px</span>
              </div>
            </div>
            <mat-card style="overflow: hidden;">
              <div mat-card-image>
                <div class="py-3" style="background-color: #f1f1f1; text-align: center;">
                  <h2 class="m-0" style="font-weight: 500;">
                    Fit On Resize Window Event
                  </h2>
                </div>
              </div>
              <fit-text-windowresize [text]="wResize" (resized)="wnewFontSize($event)" width="100%" height="450px"
                maxFontSize="140px" minFontSize="6px" delay="120" [middle]="true" [showLogs]="false">
              </fit-text-windowresize>
            </mat-card>
          </div>
        </mat-tab>
        <mat-tab label="Code">
          <div>
            <div>
              <pre>
                <code [highlight]="code.resizeBasic | codeFromUrl | async"></code>
              </pre>
            </div>
            <div>
              <pre>
                <code [highlight]="code.resizeFull | codeFromUrl | async"></code>
              </pre>
            </div>
            <div>
              <pre>
                <code [highlight]="code.fullts | codeFromUrl | async"></code>
              </pre>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

<div class="container py-3">
  <mat-card>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Option</th>
          <th scope="col">Type</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>[text]</td>
          <td>string</td>
          <td>
            You can pass string values to display in fit component. When you
            pass new value component will be updated.
          </td>
        </tr>
        <tr>
          <td>[height]</td>
          <td>px, em, %, etc</td>
          <td>
            Set to component fixed height.
          </td>
        </tr>
        <tr>
          <td>[width]</td>
          <td>px, em, %, etc</td>
          <td>
            Set to component fixed width. Default value is '100%'
          </td>
        </tr>
        <tr>
          <td>[maxFontSize]</td>
          <td>px</td>
          <td>
            Set maximum font size of component
          </td>
        </tr>
        <tr>
          <td>[minFontSize]</td>
          <td>px</td>
          <td>
            Set minimum font size of component. Not recommend, text may overflow
          </td>
        </tr>
        <tr>
          <td>[middle]</td>
          <td>boolean</td>
          <td>
            Work only in fixed height, text will vertical align to middle
          </td>
        </tr>
        <tr>
          <td>[delay]</td>
          <td>number</td>
          <td>
            If you use animation or lazy load, component height may render as 0.
            To avoid this, you can pass number to delay. Defalt value is 100
            (ms).
          </td>
        </tr>
        <tr>
          <td>[showLogs]</td>
          <td>boolean</td>
          <td>
            Show changes in console step by step
          </td>
        </tr>
        <tr>
          <td>(resized)</td>
          <td>output</td>
          <td>
            Fire event that return new font size when text resized. Simple usage
            : (resized)="fooFunction($event)"
          </td>
        </tr>
      </tbody>
    </table>
  </mat-card>
</div>
