<section class="my-3">
  <h1>Ngx Fit Text</h1>
  <p class="lead">
    <b>@pikselin/ngx-fittext</b> is an Angular library that allow you fit text
    in a box or a line.
  </p>
  <div class="alert alert-warning">
    You can see in examples Angular Material components like <b>mat-card</b>. These are not required. It is only for showing examples clearly in demo page.
  </div>
  <h2>Install Package</h2>
  <pre>
  <code>npm i -S @pikselin/ngx-fittext</code>
  </pre>
  <h2>Import Module</h2>
  <pre>
    <code [highlight]="importModule" lang="ts"></code>
  </pre>
</section>
