
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ngx-fit-text-primary: mat.define-palette(mat.$indigo-palette);
$ngx-fit-text-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ngx-fit-text-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ngx-fit-text-theme: mat.define-light-theme((
  color: (
    primary: $ngx-fit-text-primary,
    accent: $ngx-fit-text-accent,
    warn: $ngx-fit-text-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ngx-fit-text-theme);

@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/alert';
@import '~bootstrap/scss/tables';
@import '~highlight.js/styles/atom-one-light.css';

.w-720px {
  width: 720px;
  max-width: 100%;
}

html, body { height: 100%; background-color: #fafafa; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
